{% extends  'main_page.html' %}
{% block title %} Контакты {% endblock %}
{% load static %}
{% block content %}
	<section class="main">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-auto">
					<h2 class="sticky-top">Контакты</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-auto">
					<h5 class="sticky-top">По всем вопросам обращайтесь на
 						E-mail: OiTakNravetca@mail.ru
 					</h5>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-auto">
					<h5 class="sticky-top">
 					</h5>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-auto">
					<h5 class="sticky-top">
 					</h5>
				</div>
			</div>
		</div>
	</section>

{% endblock content %}