{% extends  'main_page.html' %}
{% block title %} Помощь {% endblock %}
{% load static %}
{% block content %}
	<section class="main">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-auto">
					<h2 class="sticky-top">Помощь</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-start">
				<div class="col-sm-auto">
                    <ul class="list-group list-group-flush">
						<li class="list-group-item social-media main"><img src="{% static 'images/number-one.png' %}" class=""  alt=""> <span class="sticky-top-4"> Ищите , что приготовить сегодня на ужин или подготавливаете меню для торжественного обеда? Наш сайт поможет вам в этом! Перед вами один из лз лучших порталов на русском языке. В ближайшее время на сайте появится более 1000 рецептов и многое другое! На главной странице вы всегда найдете самые новые рецепты. </span></li>
						<li class="list-group-item social-media main"><img src="{% static 'images/number-2.png' %}" class=""  alt=""> <span class="sticky-top-4"> Не знаете, что бы такое приготовить ? В этом помогут рецепты, перечисленные в наших разделах! </span> </li>
						<li class="list-group-item social-media main"><img src="{% static 'images/number-3.png' %}" class=""  alt=""> <span class="sticky-top-4"> Во всех рецептах есть вся необходимая информация, чтобы блюдо получилось шикарным и порадовало вас и всех ваших близких. На странице с рецептом, справа от фотографии вы найдете информацию о блюде. А ниже расположены необходимые ингридиенты и приготовление. </span></li>
                    </ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-auto">
					<h5 class="sticky-top">
 					</h5>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-auto">
					<h5 class="sticky-top">
 					</h5>
				</div>
			</div>
		</div>
	</section>

{% endblock content %}